backend:
  name: github
  repo: FreddyIngle/TaxDebtSolutions
  branch: main
  auth_type: implicit
  app_id: ${GITHUB_CLIENT_ID}
  auth_endpoint: https://api.netlify.com/auth

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "blog"
    label: "Blog Posts"
    folder: "src/content/posts"
    create: true
    slug: "{{slug}}"
    format: "frontmatter"
    extension: "md"
    fields:
      - { name: "title", label: "Title", widget: "string" }
      - { name: "date", label: "Date", widget: "datetime" }
      - { name: "excerpt", label: "Excerpt", widget: "text", required: false }
      - { name: "body", label: "Body", widget: "markdown" }
